@model CityFoods.Models.CityFoodSuggestion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CityFoodSuggestion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameOfUniqueFood)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameOfUniqueFood)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestaurantName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestaurantName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImgUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImgUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
